@charset "UTF-8";
select {
  color: black;
}

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, em,
img, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu,
nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: rgb(183, 182, 182);
}

del {
  text-decoration: line-through;
}

input, select {
  vertical-align: middle;
}

body, select, input, textarea {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(219, 215, 215);
  font-family: "Arial", Helvetica, sans-serif;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}

html {
  -webkit-font-smoothing: antialiased;
}

select {
  margin: 8px 0 8px 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
  background-color: transparent;
}

h1 {
  color: rgb(174, 172, 172);
  font-size: 40px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
}
h3 {
  color: rgb(174, 172, 172);
  font-size: 20px;
}

.btn-check:active + .btn-secondary:focus, .btn-check:checked + .btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
}

.btn-secondary:focus, .btn-secondary:active:focus {
  color: #58af85;
}

.btn-tertiary:focus, .btn-tertiary:active:focus {
  color: #eec958;
}

.btn-secondary {
  background-color: rgba(250, 250, 250, 0);
  color: gray;
  border: none;
  font-size: 3rem;
  box-shadow: none;
}
.btn-secondary:hover {
  color: #58af85;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.btn-tertiary {
  background-color: rgba(250, 250, 250, 0);
  color: gray;
  border: none;
  font-size: 3rem;
  box-shadow: none;
}
.btn-tertiary:hover {
  color: #58af85;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

@media (max-width: 500px) {
  .btn-secondary {
    font-size: 10px;
    background-color: pink;
  }
}
.card {
  width: clamp(45ch, 50%, 75ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.open > .dropdown-menu {
  display: flex;
  offset: none;
}

.btn-secondary {
  background-color: rgba(250, 250, 250, 0);
  color: rgb(174, 172, 172);
  border: none;
  font-size: 3rem;
  box-shadow: none;
}
.btn-secondary:hover {
  color: #58af85;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

@media (max-width: 1200px) {
  .btn-secondary {
    font-size: 35px;
  }
}
@media (max-width: 900px) {
  .btn-secondary {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .btn-secondary {
    font-size: 8px;
  }
}
@media (max-width: 1200px) {
  .btn-tertiary {
    font-size: 35px;
  }
}
@media (max-width: 900px) {
  .btn-tertiary {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .btn-tertiary {
    font-size: 8px;
  }
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
}
.dropdown-menu:hover {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.btn-group:hover .dropdown-menu {
  display: flex;
}

.dropright {
  position: relative;
}

.dropright .dropdown-menu {
  top: 0;
  left: 15%;
  margin-top: 25px;
}

@media (max-width: 1200px) {
  .dropright .dropdown-menu {
    top: 0;
    left: 20%;
    margin-top: 20px;
  }
}
@media (max-width: 1000px) {
  .dropright .dropdown-menu {
    top: 0;
    left: 20%;
    margin-top: 20px;
    padding: 5px;
  }
}
@media (max-width: 900px) {
  .dropright .dropdown-menu {
    top: 0;
    left: 10%;
    margin-top: 3px;
  }
}
@media (max-width: 600px) {
  .dropright .dropdown-menu {
    top: 0;
    left: 25%;
  }
}
.dropdown-item {
  color: #58af85;
}
.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #58af85;
  font-weight: bold;
}

@media (max-width: 700px) {
  .dropdown-item a {
    font-size: 8px;
    padding: 0px;
  }
}
.contact-hover {
  color: rgb(174, 172, 172);
}
.contact-hover:hover {
  color: #eec958;
}

.b {
  color: #eec958;
}
.b:hover {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #eec958;
  font-weight: bold;
}

.copyright:after {
  content: "©JY";
  color: rgb(174, 172, 172);
}

.gallery-grid-wrapper {
  text-align: center;
}

.gallery-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-grid-item {
  min-width: 250px;
  max-width: 250px;
  flex: 1 1 250px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.gallery-grid-item figure {
  padding: 0;
  margin: 0;
}
.gallery-grid-item figure img {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

a:not([href]):not([class]) {
  color: rgb(174, 172, 172);
}
a:not([href]):not([class]):hover {
  color: #58af85;
}

.flex {
  display: flex;
  align-items: end;
}

.jy {
  font-size: 40px;
}

@media (max-width: 700px) {
  .jy {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .jy {
    font-size: 20px;
  }
}
#home-page {
  background-color: rgb(255, 255, 255);
}

.jason-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  outline: 5px solid #e67699;
  margin: 1em;
}

.jason-container {
  margin-top: 40%;
  margin-bottom: 50%;
}

@media (min-width: 700px) {
  .jason-container {
    margin-top: 15%;
    margin-bottom: 5%;
  }
}
#home-page h1 {
  font-size: 20px;
}
#home-page h1:hover {
  color: #7a84be;
}
@media (min-width: 900px) {
  #home-page h1 {
    font-size: 4.5rem;
  }
}

#home-page a {
  font-size: 12px;
  margin-left: 12px;
}

@media (max-width: 1100px) {
  #home-page a {
    font-size: 10px;
    padding: 5px;
  }
}
@media (max-width: 900px) {
  #home-page a {
    font-size: 7px;
  }
}
@media (max-width: 400px) {
  #home-page a {
    font-size: 5px;
  }
}/*# sourceMappingURL=jason.css.map */