// RESET //
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, em, 
img, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, 
nav, section, menu, time, mark, audio, video
{
    margin: 0; 
    padding:0;
    border:0; 
    outline:0; 
    font-size:100%;
    vertical-align:baseline;
    background:transparent; 
} 
article, aside, figure, footer, header, hgroup, nav, section { display:block; } 
nav ul { list-style:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline;
background:transparent; text-decoration:none; color: rgb(183, 182, 182);}
del { text-decoration: line-through; }
input, select { vertical-align:middle; } 


body, select, input, textarea {text-rendering:optimizeLegibility;}
h1, h2, h3, h4, h5, h6 {color: rgb(219, 215, 215); font-family:'Arial', Helvetica, sans-serif; letter-spacing: 1.0px; text-rendering:optimizeLegibility;}
html { -webkit-font-smoothing: antialiased; }
select {margin: 8px 0 8px 0;}

body{  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
  background-color: transparent; 
}
  